body {
  margin: 0;
  background: rgb(8,0,139);
  background: linear-gradient(90deg, rgba(8,0,139,1) 0%, rgba(107,19,19,1) 50%, rgba(191,10,10,1) 100%);
}
.ativs article img{
  width: 100%;
  margin: 20px 0;
  margin-top: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.title{
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #649444;
}
p,
figcaption {
  color: #952A2A;
}
header {
  overflow: hidden;
  background-color: #fffccc;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  color: #649444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header h1 {
  top: 0;
  font-size: larger;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#logo{
  width: 80px;
  height: 80px;
  float: right;
  border-radius: 100%;
}
#title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: -30px;
  margin: 0 auto;
}
main {
  padding-top: 150px;
}
.title{
  text-align: center;
  margin-top: -10px;
}
h3.title{
  margin-bottom: -10px;
  margin: 0px 0;
}
/*button*/
.selected{
  background-color:#649444!important;
  color: #fffaaa!important;
}
nav {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  margin-left: 10px;
  border-radius: 15px;
  order: -1;
}
nav .drop-down {
  list-style: none;
  overflow: hidden;
  height: 360px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: whitesmoke;
  font-family: Arial;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  border-radius: 15px;
  border: 2px solid #346b58;
}

nav .drop-down.closed {
  height: 43px;
  border-radius: 15px;
}

nav .drop-down li a {
  display: block;
  color: #346b58;
  text-decoration: none;
  background-color: #fffccc;
  padding: 12.5px;  
  transition: background-color 0.8s ease;
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  border-radius: 15px;
  margin-left: -30px;
  margin-right: 5px;
}

nav .drop-down li a:hover {
  background-color: #fdf691;
}
/*fim botao*/
/*galeria*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery img {
  margin: 10px;
  width: 500px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.gallery figcaption {
  text-align: center;
  font-style: italic;
  font-size: medium;
}
.gallery figure {
  background-color: #fffccc;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.gallery p{
  margin:10px;
}
/*fim galeria*/
/*feed*/
article {
  background-color: #fffccc;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
article p {
  text-align: justify;
  padding: 0 20px;
}
article h1 {
  text-align: center;
}
.esp article>figure>img{
  width: 100%;
}
.esp article{
  width: 50%;
}
/*fim feed*/
/*colapsing button*/
.toggle-info {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.toggle-info.show {
  height: auto;
}
div.conv{
  columns: 400px 3;
}
.conv article{
  break-inside: avoid;
  border: #346b58 solid 2px;
  border-radius: 10px;
  transition: background-color 5s ease;
  transition: all 5s ease-out;
}
.conv article:active{
  background-color: #fffaaa ;
}
.conv button{
  width: 100%;
  margin:0;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-bottom: #346b58 1px solid;
}
.conv button:hover{
  cursor: pointer;
}
#col{
  background-color: #649444;
}
#col:hover{
  background-color: #fdf691;
}
/*#e5373a*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#navbar {
  overflow: hidden;
}
.header{
  width: 100%;
}
