:root {
  --dark-blue: rgb(8, 0, 139);
  --dark-red: rgba(107, 19, 19, 1);
  --light-red: rgba(191, 10, 10, 1);
  --dark-brown: #952a2a;
  --light-yellow: #fffaaa;
  --light-yellow-hover: #fdf691;
  --light-yellow-bg: #fffccc;
  --dark-green: #649444;
  --dark-green-hover: #fdf691;
  --light-gray: rgba(0, 0, 0, 0.2);
}

/* General Styles */
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-blue);
  background: linear-gradient(
    90deg,
    var(--dark-blue) 0%,
    var(--dark-red) 50%,
    var(--light-red) 100%
  );
  font-family: 'Times New Roman', Times, serif;
}

/* Activity Styles */
.ativs article img {
  width: 100%;
  margin: 20px 0;
  margin-top: 0px;
  box-shadow: 0px 0px 10px var(--light-gray);
  border-radius: 15px;
}

.title {
  text-align: center;
}


/* Typography Styles */
h1, h2, h3, h4, h5, h6 {
  color: var(--dark-green);
}

p, figcaption {
  color: var(--dark-brown);
}

button {
  transition: ease 0.3s;
  padding: 10px!important;
}

button:hover {
  background-color: var(--light-yellow-hover)!important;
}

/* Navbar Styles */
nav {
  background-color: var(--light-yellow-bg);
  box-shadow: 0px 0px 5px var(--light-gray);
  color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  z-index:1000
}

nav h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: -100px;
}

nav .drop-down {
  display: block;
  font-family: Arial;
  width: 200px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  transition: display ease 0.3s;
  text-align: center;
  border: 2px solid var(--dark-green);
}

.drop-down.closed {
  transition: display ease 0.3s;
  display: none;
}

nav .drop-down-btn {
  width: 203px;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid var(--dark-green);
  border-radius: 15px;
  background-color: var(--light-yellow-bg);
}

nav .drop-down li a {
  display: block;
  color: var(--dark-green);
  text-decoration: none;
  background-color: var(--light-yellow-bg);
  padding: 12.5px;
  transition: background-color 0.8s ease;
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  border-radius: 15px;
  margin-left: -30px;
  margin-right: 5px;
}

nav .drop-down li a:hover {
  background-color: var(--light-yellow-hover);
}

nav img {
  width: 80px;
  border-radius: 100%;
}

/* Main Content Styles */
main {
  padding-top: 150px;
}

.title {
  text-align: center;
  margin-top: -10px;
}

h3.title {
  margin-bottom: -10px;
  margin: 0px 0;
}

/* Button Styles */
.selected {
  background-color: var(--dark-green) !important;
  color: var(--light-yellow) !important;
}

/* Gallery Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery img {
  margin: 10px;
  width: 500px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--light-gray);
}

.gallery figcaption {
  text-align: center;
  font-style: italic;
  font-size: medium;
}

.gallery figure {
  background-color: var(--light-yellow-bg);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--light-gray);
  margin: 10px;
}

.gallery p {
  margin: 10px;
}

/* Feed Styles */
article {
  background-color: var(--light-yellow-bg);
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px var(--light-gray);
}

article p {
  text-align: justify;
  padding: 0 20px;
}

article h1 {
  text-align: center;
}

.esp article > figure > img {
  width: 100%;
}

.esp article {
  width: 50%;
}

/* Collapsing Button Styles */
.toggle-info {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.toggle-info.show {
  height: auto;
}

div.conv {
  display: flex;
  flex-flow: column wrap;
  height: 50rem;
  margin-top: -8rem;
  gap: 5px;
}

.conv article {
  break-inside: avoid;
  border: var(--dark-green) solid 2px;
  border-radius: 10px;
  width: 25%;
  transition: all 0.5s ease-out;
}

.conv article:active {
  background-color: var(--light-yellow);
}

.conv button {
  width: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: var(--dark-green) 1px solid;
  border-radius: 15px;
  transition: all 0.5s ease-out;
}

.conv button:hover {
  cursor: pointer;
  background-color: var(--light-yellow-hover);
}

#col {
  background-color: var(--dark-green);
}

#col:hover {
  background-color: var(--light-yellow-hover);
}

/* Miscellaneous Styles */
.sticky {
  position: fixed;
  top: 0;
}

img.header {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: 50%;
}


.esp article a {
  text-decoration: none;
  color: var(--dark-green);
  transition: 0.5s;
  background-color: var(--light-yellow);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 5px var(--light-gray);
  border: var(--dark-green) 2px solid;
}

.esp article a:hover {
  background-color: var(--light-yellow-hover);
  color: var(--dark-green);
  border: var(--dark-green) 2px solid;
}

.esp{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.esp article{
  width: fit-content;
  margin: 5px 0
}

.esp article div{
  position: relative;
}